@charset "UTF-8";
/* CSS Document */



html body{
    font-family: 'Poppins', sans-serif;
    background-color: rgba(226, 226, 220, 0.4);
}

.nav-bar-color{
    background-color: #506A67!important;
}


.nav-link{
    color: #c2dad9 !important;
}

.nav-link:hover{
    color: #FFFFFF !important;
}

.nav-highlight, .navbar-brand{
    color: #FFFFFF !important;
    font-weight: 500;
}

.navbar-toggler{
    filter: invert(100%);
}

h1{
    font-size: 1.802em;
    font-weight: 400;
}

h2{
    font-size: 1.602em;
    font-weight: 400;
}

h3{
    font-size: 1.424em;
    font-weight: 600;
}


h4{
    font-size:1.266em;
}


.footer-tb{
    text-align: center;
}

.back{
    font-family: 'Poppins', sans-serif;
    color:#7691A1;
}


.btn-primary{
    background-color: #fa7f50;
    border-color: #fa7f50;
}

.btn-primary:hover{
    background-color: #00805b;
}

.carousel-padding{
    padding-left: 100px;
    padding-right: 100px;
}

.carousel-control-next-icon, 
.carousel-control-prev-icon {
    background-color: #506A67;
}

.button{
    background-color: white;
    color: #506A67;
    font-size: 16px;
    border-color: #506A67;
    border-radius: 5px;
    padding: 8px;
}

.button:hover{
    background-color: #c2dad9;
    color: #00805b;
}

a{
    text-decoration: none;
}

.card-img-top{
    height: 310px;
    background-color: white;
    padding: 2% 2% 2% 2%;
    margin: 0px auto;
    border: 1px solid #7691A1;
}

.cells{
    padding: 15px;
}

.image{
    height: 450px;
}

.part{
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.screenshot{
    width: 600px;
}
